<h3 style="text-align:center"><span style="font-size:16px"><strong><span style="font-family:'Times New Roman',Times,serif">АГЕНТСТВО РЕСПУБЛИКИ КАЗАХСТАН<br />
    ПО ФИНАНСОВОМУ МОНИТОРИНГУ<br />
    ДЕПАРТАМЕНТ КАДРОВОЙ РАБОТЫ</span></strong><br />
    <span style="font-family:'Times New Roman',Times,serif">_____________________________________________________________________________________</span></span></h3>
    
    <p><strong><span style="font-size:12px"><span style="font-family:'Times New Roman',Times,serif">№ АФМ-16-36/{{document_sequence}}</span><br />
    <span style="font-family:'Times New Roman',Times,serif">Дата: {{document_generate_date}} г.</span></span></strong></p>
    
    <p>&nbsp;</p>
    
    <p style="text-align:center"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif"><strong>СПРАВКА</strong></span><br />
    <span style="font-family:'Times New Roman',Times,serif">с места работа</span></span></p>
    
    <p style="text-indent: 40px; text-align:justify; margin-block-end: 3px;"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">Дана {{employee_full_name}} в том, что {{gender_text}} в действительно состоит на правоохранительной службе с {{first_law_enf_work_start_date}} года и c {{job_last_move_date}} года по настоящее время проходит службу в должности {{emp_position_name}} {{emp_full_department_name}}.</span></span></p>
  
    <p style="text-indent: 40px; text-align:justify; margin-block-start: 3px;"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">Справка дана для предъявления по месту требования.</span><br /></span>
    
    <p style="text-align:justify">&nbsp;</p>
    
    <p style="text-align:justify"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">&nbsp; &nbsp;Руководитель Управления<br />
    &nbsp; &nbsp;Департамента кадровой работы &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;_______________________</span></span></p>
    
    <p>
    <br />  <br />  <br />  <br />  <br />  <br />  <br />  <br />
    <br />  <br />  <br />  <br />  <br />  <br />  <br /> 
    &nbsp;</p>
    
    <p><span style="font-size:16px">{{#if src}} <img alt="" src="{{src}}" style="float:right; height:152px; width:152px" /> {{/if}}</span></p>
    
    <p>&nbsp;</p>
    