<h3 style="text-align:center"><span style="font-size:16px"><strong><span style="font-family:'Times New Roman',Times,serif">ДЕПАРТАМЕНТ КАДРОВОЙ РАБОТЫ<br />
    АГЕНТСТВА РЕСПУБЛИКИ КАЗАХСТАН ПО ФИНАНСОВОМУ<br />
    МОНИТОРИНГУ</span></strong><br />
    <span style="font-family:'Times New Roman',Times,serif">_____________________________________________________________________________________</span></span></h3>
        
    <p style="text-align:center"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif"><strong>СПРАВКА</strong></span><br />
    
    <p style="text-indent: 40px; text-align:justify; margin-block-end: 3px;"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">на кандидата {{employee_full_name}}, родился {{birthplace}} в ({{birth_date}}год) уроженец {{citizen}}.</span></span></p>
  
    <p style="text-indent: 40px; text-align:justify; margin-block-start: 3px;">
        <span style="font-size:16px">
            <span style="font-family:'Times New Roman',Times,serif">
                Выпускник:
                {{#each educations}}
                {{institute}} c {{date_from}}-{{date_to}} (GPA {{gpi}}).</br>
                {{/each}}
            </span>
        </span>
    </p> 
    
    <p style="text-indent: 40px; text-align:justify; margin-block-start: 3px;">
        <span style="font-size:16px">
            <span style="font-family:'Times New Roman',Times,serif">
                Опыт работы:
                <table border="1" style="width:100%">
                    <tr>
                        <th>Название</th>
                        <th>Должность</th>
                        <th>Дата начала</th>
                        <th>Дата окончания</th>
                        <th>Уволен</th>
                    </tr>
                    {{#each worklist}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{position}}</td>
                            <td>{{date_from}}</td>
                            <td>
                                {{#if date_to}}
                                    {{date_to}}
                                {{else}}
                                    present
                                {{/if}}
                            </td>
                            <td>{{is_fired}}</td>
                        </tr>
                    {{/each}}
                </table>
            </span>
        </span>
    </p>
       

    <p style="text-indent: 40px; text-align:justify; margin-block-start: 3px;"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">По результатам тестирования IQ:</span><br /></span>

    <p style="text-indent: 40px; text-align:justify; margin-block-start: 3px;"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">Результаты теста на определения психотипа показывает тип:</span><br /></span>
    
    <p style="text-indent: 40px; text-align:justify; margin-block-start: 3px;"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">Результаты эссе:</span><br /></span>

    <p style="text-indent: 40px; text-align:justify; margin-block-start: 3px;"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">Результаты оценки мотивационного видео:</span><br /></span>
    
    <p style="text-indent: 40px; text-align:justify; margin-block-start: 3px;"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">Результаты тестов АДГС РК на знания законодательства: {{adgs1}}</span><br /></span>

    <p style="text-indent: 40px; text-align:justify; margin-block-start: 3px;"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">Тестирование на оценку личных качеств АДГС РК: {{adgs2}}</span><br /></span>


    <p style="text-align:justify">&nbsp;</p>
    
    <p style="text-align:justify"><span style="font-size:16px"><span style="font-family:'Times New Roman',Times,serif">&nbsp; &nbsp;Руководитель Управления<br />
    &nbsp; &nbsp;Департамента кадровой работы &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;_______________________</span></span></p>

    <p>
    &nbsp;</p>

    <p><span style="font-size:16px">{{#if src}} <img alt="" src="{{src}}" style="float:right; height:152px; width:152px" /> {{/if}}</span></p>
    <p><strong><span style="font-size:12px"><span style="font-family:'Times New Roman',Times,serif">№ АФМ-16-36/{{document_sequence}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; г. Астана</span><br />
    <span style="font-family:'Times New Roman',Times,serif">Дата: {{document_generate_date}} г.</span></span></strong></p>

    <p>&nbsp;</p>
    